<h2>Make a bet for this round.</h3>

<h3>#{username} has #{moneypool}</h3>

<form action='/postbet' method='post'>
  <input type='text' name="userbet"/>
  <input type="submit" class="btn"/>
</form>
