<h3>You've amassed a total of #{moneypool}</h3>
<p>Now that you've honed your blackjack skills, there's nothing left to do except make some money in the real world.</p>

<p>
<a href="/link">Start over?</a>
</p>